@charset "UTF-8";
:root {
  --microtip-transition-delay: 0.25s;
}

html, body {
  overflow: hidden;
}

#root {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  min-height: 0;
  display: block;
  display: -ms-grid;
  display: grid;
  width: 100vw;
  overflow: hidden;
  -ms-grid-columns: 1fr;
  -ms-grid-rows: auto 1fr auto;
  grid-template: "header" auto "main" 1fr "footer" auto/minmax(0, 1fr);
}

@media only screen and (min-width: 62rem) {
  .mq--narrow, .mq--narrower {
    display: none !important;
  }
}

@media only screen and (max-width: 62rem) {
  .mq--wide {
    display: none !important;
  }
}

@media only screen and (min-width: 501px) and (max-width: 62rem) {
  .mq--narrower {
    display: none !important;
  }
}

.app--container {
  display: grid;
  grid-template-columns: minmax(-webkit-min-content, 18rem) -webkit-min-content 1fr;
  grid-template-columns: minmax(min-content, 18rem) min-content 1fr;
  grid-template-rows: 1fr;
  min-height: 0;
  min-width: 0;
  height: auto;
  position: relative;
  margin: 1rem;
  padding: 1rem;
  padding-right: 0;
  background: #fffefb;
  border: 1px solid #d5d3d3;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 10px;
          box-shadow: rgba(0, 0, 0, 0.1) 0 1px 10px;
}

.app--container .app--sidebar--toggle--container {
  align-self: center;
  grid-column: 2;
  grid-row: 1;
}

.app--container button {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.app--container button svg + span {
  margin-left: 0.5rem;
}

@media only screen and (max-width: 62rem) {
  .app--container {
    grid-template-columns: 1fr;
    grid-template-rows: -webkit-min-content 1fr;
    grid-template-rows: min-content 1fr;
    padding: 0;
    margin: 0;
  }
  .app--container .app--sidebar {
    grid-column: 1;
    grid-row: 2;
    z-index: 1;
    max-height: 100vh;
  }
  .app--container .app--reader {
    grid-column: 1;
    grid-row: 2;
    z-index: 10;
  }
  .app--container .app--reader .app--reader--viewer .page .page--toolbar {
    margin-right: 2rem;
  }
  .app--container .app---reader--toolbar--controls {
    top: 3.75rem;
    right: 1rem;
  }
  .app--container .app--sidebar--toggle--container {
    grid-column: 1;
    grid-row: 1;
  }
  .app--container .app--sidebar--toggle--container #action-toggle-sidebar-narrow {
    width: 100%;
    margin-left: unset;
    background: #444;
    color: #fff;
    border-radius: 0;
  }
  .app--container .app--sidebar--toggle--container #action-toggle-sidebar-narrow span.flex-space-between {
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 1rem;
  }
}

.app--sidebar {
  position: relative;
  display: grid;
  min-height: 0;
  grid-template-rows: -webkit-min-content;
  grid-template-rows: min-content;
  overflow: auto;
  grid-column: 1;
  grid-row: 1;
}

.app--panels {
  border-right: 1px solid #d5d3d3;
}

#action-toggle-sidebar {
  white-space: nowrap;
  margin-left: -1.2rem;
  width: 2rem;
  height: 3.25rem;
  display: block;
  padding: 0;
  z-index: 24;
  opacity: 1;
  -webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

#action-toggle-sidebar .icomoon.row::before {
  content: "";
}

#action-toggle-sidebar-narrow {
  height: 3.25rem;
  display: block;
  background-color: #444;
  color: #fff;
}

#action-toggle-sidebar-narrow .icomoon.column::before {
  content: "\ea41";
  font-size: 1.5rem;
}

.action-toggle-sidebar svg {
  width: 2rem;
  height: 2rem;
}

@media only screen and (max-width: 992px) {
  body[data-sidebar-narrow-state="open"] .app--container .app---reader--toolbar--controls {
    display: none;
  }
  body[data-sidebar-narrow-state="open"] .app--container .app--sidebar {
    z-index: 10 !important;
  }
  body[data-sidebar-narrow-state="open"] .app--container .app--reader {
    z-index: 1 !important;
  }
}

@media only screen and (min-width: 992px) {
  body[data-sidebar-state="closed"] .app--container {
    grid-template-columns: 0 1fr;
  }
  body[data-sidebar-state="closed"] .app--container .app--reader--container {
    margin-left: 0;
  }
  body[data-sidebar-state="closed"] .app--sidebar .app--panels {
    display: none;
  }
  body[data-sidebar-state="closed"] header {
    display: none;
  }
  body[data-sidebar-state="closed"] footer {
    display: none;
  }
  body[data-sidebar-state="closed"] #action-toggle-sidebar {
    opacity: 1.0;
    background: rgba(0, 0, 0, 0.8);
    color: #eee;
    font-size: 2rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
    width: 3rem;
    height: 4.25rem;
    margin-left: -2rem;
  }
  body[data-sidebar-state="closed"] #action-toggle-sidebar .icomoon.row::before {
    content: "";
  }
}

body[data-sidebar-narrow-state="closed"] #action-toggle-sidebar-narrow .icomoon.column::before {
  content: "\ea43";
}

body[data-zoomed-in="true"] .app--reader--container {
  margin-right: 5rem;
}

.app--panels .panel {
  padding: 0 1rem;
  margin: 0 0 1rem;
  width: 95%;
  max-width: 30rem;
}

.app--panels .panel h2, .app--panels .panel h3 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.25rem;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app--panels .panel h2 > * + *, .app--panels .panel h3 > * + * {
  margin-left: 0.5rem;
}

.app--panels .panel p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.app--panels .panel p:first-of-type, .app--panels .panel p:first-child {
  margin-top: 0;
}

.app--panels .panel p + p {
  margin-bottom: 0;
}

.app--panels .panel ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.app--panels .panel ul li {
  position: relative;
}

.app--panels .panel ul li + li {
  margin-top: 0.5rem;
}

.app--panels .panel form {
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
}

.app--panels .panel form label {
  display: block;
  margin-bottom: 0.25rem;
}

.app--panels .panel form input[type=text] {
  margin-bottom: 1rem;
}

.app--panels .panel.collectionLinks select {
  width: 100%;
  font-size: 1rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.app--panels .panel.collectionLinks button {
  display: block;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.app--panels #mdpBackToResults p {
  margin: 1rem 1rem 0.5rem;
}

.app--reader {
  grid-column: 3;
  grid-row: 1;
  min-height: 0;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
  background: #fffefb;
}

.app--reader[data-view="1up"] .app--reader--container, .app--reader[data-view="thumb"] .app--reader--container, .app--reader[data-view="image"] .app--reader--container, .app--reader[data-view="plaintext"] .app--reader--container {
  overflow: auto;
}

.app--reader[data-view="thumb"] .app--reader--viewer {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
}

.app--reader[data-view="thumb"] .app--reader--viewer .page {
  margin-top: 3rem;
}

.app--reader[data-view="thumb"] .app--reader--viewer .page .image {
  min-height: 160px;
}

.app--reader[data-view="thumb"] .app--reader--viewer .page .tag {
  font-size: 1rem;
}

.app--reader[data-view="thumb"] .app--reader--viewer .page .tag svg {
  height: 1rem;
  width: 1rem;
}

.app--reader[data-view="image"] {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app--reader[data-view="image"].short {
  -ms-flex-line-pack: center;
      align-content: center;
}

.app--reader[data-view="image"] .app--reader--viewer {
  display: grid;
  min-height: 0;
  height: auto;
  width: 100%;
  grid-template-areas: "page";
  grid-template-rows: 1fr;
  grid-template-columns: -webkit-min-content;
  grid-template-columns: min-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.app--reader[data-view="image"] .app--reader--viewer.animating {
  overflow: hidden;
}

.app--reader[data-view="image"] .app--reader--viewer::after {
  display: block;
  content: "";
  height: 6rem;
}

.app--reader[data-view="image"] .app--reader--viewer .page {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  grid-area: page;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s linear 300ms, opacity 300ms;
  transition: visibility 0s linear 300ms, opacity 300ms;
  margin-bottom: 4rem;
}

.app--reader[data-view="image"] .app--reader--viewer .page.placeholder {
  display: none;
}

.app--reader[data-view="image"] .app--reader--viewer .page[data-visible="true"] {
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 0s linear 0s, opacity 300ms;
  transition: visibility 0s linear 0s, opacity 300ms;
}

.app--reader[data-view="image"] .app--reader--viewer .page[data-visible="false"] .image {
  height: 0 !important;
}

.app--reader[data-view="image"] .app--reader--viewer .page .image img {
  height: 100%;
}

.app--reader[data-view="image"] .app--reader--viewer .page.page--foldout .image {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.app--reader[data-view="image"] .app--reader--viewer .page.page--moveToLeft {
  -webkit-animation: imageMoveToLeft .6s ease both;
          animation: imageMoveToLeft .6s ease both;
}

.app--reader[data-view="image"] .app--reader--viewer .page.page--moveFromRight {
  -webkit-animation: imageMoveFromRight .6s ease both;
          animation: imageMoveFromRight .6s ease both;
}

.app--reader[data-view="image"] .app--reader--viewer .page.page--moveFromRightFade {
  -webkit-animation: imageMoveFromRightFade 0.4s ease both;
          animation: imageMoveFromRightFade 0.4s ease both;
}

.app--reader[data-view="image"] .app--reader--viewer .page.page--moveToRight {
  -webkit-animation: imageMoveToRight .6s ease both;
          animation: imageMoveToRight .6s ease both;
}

.app--reader[data-view="image"] .app--reader--viewer .page.page--moveFromLeft {
  -webkit-animation: imageMoveFromLeft .6s ease both;
          animation: imageMoveFromLeft .6s ease both;
}

.app--reader[data-view="image"] .app--reader--viewer .page.page--moveFromLeftFade {
  -webkit-animation: imageMoveFromLeftFade 0.4s ease both;
          animation: imageMoveFromLeftFade 0.4s ease both;
}

.app--reader[data-view="image"] .app--reader--viewer .page.page--fade {
  -webkit-animation: imageFade 0.7s ease both;
          animation: imageFade 0.7s ease both;
}

.app--reader[data-view="plaintext"] {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app--reader[data-view="plaintext"].short {
  -ms-flex-line-pack: center;
      align-content: center;
}

.app--reader[data-view="plaintext"] .app--reader--viewer {
  display: grid;
  min-height: 0;
  height: auto;
  width: 100%;
  grid-template-areas: "page";
  grid-template-rows: 1fr;
  grid-template-columns: 85%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.app--reader[data-view="plaintext"] .app--reader--viewer.animating {
  overflow: hidden;
}

.app--reader[data-view="plaintext"] .app--reader--viewer::after {
  display: block;
  content: "";
  height: 6rem;
}

.app--reader[data-view="plaintext"] .app--reader--viewer .page {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  grid-area: page;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  margin-bottom: 4rem;
}

.app--reader[data-view="plaintext"] .app--reader--viewer .page.placeholder {
  display: none;
}

.app--reader[data-view="plaintext"] .app--reader--viewer .page[data-visible="true"] {
  visibility: visible;
  opacity: 1;
}

.app--reader[data-view="plaintext"] .app--reader--viewer .page[data-visible="false"] .page-text {
  height: 0 !important;
  min-height: 0;
}

.app--reader[data-view="plaintext"] .app--reader--viewer .page .page-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: static !important;
  height: auto;
  width: auto;
  overflow: auto;
  clip: unset;
  -webkit-clip-path: none;
          clip-path: none;
  max-width: 80rem;
  min-height: 50vh;
  padding: 1rem;
  padding-top: 2rem;
  background: #fff;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 6px 15px 5px rgba(0, 0, 0, 0);
          box-shadow: 0px 10px 13px -7px #000000, 0px 6px 15px 5px rgba(0, 0, 0, 0);
  border: 1px solid #ddd;
  font-size: 1.25rem;
  line-height: 1.25;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.app--reader[data-view="plaintext"] .app--reader--viewer .page .page-text .ocr_page, .app--reader[data-view="plaintext"] .app--reader--viewer .page .page-text .ocrx_block {
  font-size: inherit;
}

.app--reader[data-view="plaintext"] .app--reader--viewer .page .page-text .ocrx_block {
  margin-bottom: 1rem;
  line-height: 1.5;
}

.app--reader[data-view="plaintext"] .app--reader--viewer .page .page-text .ocr_page[data-force-breaks="true"] .ocr_line {
  display: block;
}

.app--reader[data-view="plaintext"] .app--reader--viewer .page .page-text [data-line-break] + [data-line-break] {
  display: block;
}

.app--reader[data-view="plaintext"] .app--reader--viewer .page .page-text [data-end-paragraph]::after {
  content: "";
  display: table;
  margin-bottom: 1rem;
}

.app--reader[data-view="plaintext"] .app--reader--viewer .page .page-text .alert-block {
  width: 100%;
}

.app--reader[data-view="plaintext"] .app--reader--viewer .page[data-loaded="false"] .page-text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 6rem;
  opacity: 0.4;
  color: #666;
}

.app--reader[data-view="plaintext"] .app--reader--viewer .page.page--moveToLeft {
  -webkit-animation: imageMoveToLeft .6s ease both;
          animation: imageMoveToLeft .6s ease both;
}

.app--reader[data-view="plaintext"] .app--reader--viewer .page.page--moveFromRight {
  -webkit-animation: imageMoveFromRight .6s ease both;
          animation: imageMoveFromRight .6s ease both;
}

.app--reader[data-view="plaintext"] .app--reader--viewer .page.page--moveFromRightFade {
  -webkit-animation: imageMoveFromRightFade 0.4s ease both;
          animation: imageMoveFromRightFade 0.4s ease both;
}

.app--reader[data-view="plaintext"] .app--reader--viewer .page.page--moveToRight {
  -webkit-animation: imageMoveToRight .6s ease both;
          animation: imageMoveToRight .6s ease both;
}

.app--reader[data-view="plaintext"] .app--reader--viewer .page.page--moveFromLeft {
  -webkit-animation: imageMoveFromLeft .6s ease both;
          animation: imageMoveFromLeft .6s ease both;
}

.app--reader[data-view="plaintext"] .app--reader--viewer .page.page--moveFromLeftFade {
  -webkit-animation: imageMoveFromLeftFade 0.4s ease both;
          animation: imageMoveFromLeftFade 0.4s ease both;
}

.app--reader[data-view="plaintext"] .app--reader--viewer .page.page--fade {
  -webkit-animation: imageFade 0.7s ease both;
          animation: imageFade 0.7s ease both;
}

.app--reader[data-view="2up"] {
  grid-template-rows: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.app--reader[data-view="2up"] .app--reader--container {
  min-width: 0;
  overflow: auto;
}

.app--reader[data-view="2up"] .app--reader--viewer {
  display: grid;
  grid-template-areas: "verso recto";
  grid-template-rows: 1fr;
  grid-template-columns: -webkit-min-content -webkit-min-content;
  grid-template-columns: min-content min-content;
  grid-gap: 0rem;
  padding-top: 1.5rem;
  margin-bottom: 4rem;
  min-width: 0;
}

.app--reader[data-view="2up"] .app--reader--viewer .page {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  visibility: hidden;
  opacity: 0;
}

.app--reader[data-view="2up"] .app--reader--viewer .page .page--toolbar {
  position: static !important;
}

.app--reader[data-view="2up"] .app--reader--viewer .page .page--toolbar .tag {
  font-size: 1rem;
}

.app--reader[data-view="2up"] .app--reader--viewer .page .page--toolbar .tag svg {
  height: 1rem;
  width: 1rem;
}

.app--reader[data-view="2up"] .app--reader--viewer .page .image {
  max-height: var(--max-page-height, none);
  background: transparent;
  border: none;
}

.app--reader[data-view="2up"] .app--reader--viewer .page .image img {
  width: auto;
  height: 100%;
  border: 1px solid #ddd;
}

.app--reader[data-view="2up"] .app--reader--viewer .page[data-reframed="true"] .image {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAFCAYAAABirU3bAAAAG0lEQVQIW2O8c+fOTCEhIYZ3794xgGhGKggAAJf0H/UWcK5GAAAAAElFTkSuQmCC);
}

.app--reader[data-view="2up"] .app--reader--viewer .page[data-reframed="true"].verso .image {
  border-left: 4px solid #666;
}

.app--reader[data-view="2up"] .app--reader--viewer .page[data-reframed="true"].recto .image {
  border-right: 4px solid #666;
}

.app--reader[data-view="2up"] .app--reader--viewer .page[data-visible="true"] {
  opacity: 1;
  visibility: visible;
}

.app--reader[data-view="2up"] .app--reader--viewer .page:last-of-type {
  margin-bottom: auto;
}

.app--reader[data-view="2up"] .app--reader--viewer .page.recto {
  grid-area: recto;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  margin-left: 0;
}

.app--reader[data-view="2up"] .app--reader--viewer .page.recto.page--flipToLeft {
  -webkit-animation: flip-hide-recto 0.5s forwards ease;
          animation: flip-hide-recto 0.5s forwards ease;
}

.app--reader[data-view="2up"] .app--reader--viewer .page.recto.page--flipToRight {
  -webkit-animation: flip-show-recto 0.5s forwards ease;
          animation: flip-show-recto 0.5s forwards ease;
}

.app--reader[data-view="2up"] .app--reader--viewer .page.recto.page--flippingToLeft {
  z-index: 1;
  visibility: visible;
  opacity: 1;
}

.app--reader[data-view="2up"] .app--reader--viewer .page.recto .image {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.app--reader[data-view="2up"] .app--reader--viewer .page.verso {
  grid-area: verso;
  -webkit-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
  margin-right: 0;
}

.app--reader[data-view="2up"] .app--reader--viewer .page.verso.page--flippingToRight {
  z-index: 1;
  visibility: visible;
  opacity: 1;
}

.app--reader[data-view="2up"] .app--reader--viewer .page.verso.page--flipToRight {
  -webkit-animation: flip-hide-verso 0.5s forwards ease;
          animation: flip-hide-verso 0.5s forwards ease;
}

.app--reader[data-view="2up"] .app--reader--viewer .page.verso.page--flipToLeft {
  -webkit-animation: flip-show-verso 0.5s forwards ease;
          animation: flip-show-verso 0.5s forwards ease;
}

.app--reader[data-view="2up"] .app--reader--viewer .page.verso .page--toolbar {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.app--reader[data-view="2up"] .app--reader--viewer .page.verso .page--toolbar .tag {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.app--reader[data-view="2up"] .app--reader--viewer .page.verso .image {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.app--reader[data-view="2up"] .app--reader--viewer .page + .page {
  margin-top: 0;
}

.app--reader[data-view="2up"] .app--reader--viewer .page:first-of-type {
  margin-top: 0;
}

.app--reader[data-view="2up"] .app--reader--viewer .page:last-of-type {
  margin-bottom: 0;
}

.app--reader[data-view="2up"] .app--reader--viewer.reading-order--rtl {
  direction: rtl;
}

.app--reader[data-view="2up"] .app--reader--viewer.reading-order--rtl .page.verso {
  margin-left: -2rem;
}

.app--reader[data-view="2up"] .app--reader--viewer.reading-order--rtl .page.verso .image {
  border-left: none;
  border-right: 4px solid #666;
}

.app--reader[data-view="2up"] .app--reader--viewer.reading-order--rtl .page.recto {
  margin-right: 0;
}

.app--reader[data-view="2up"] .app--reader--viewer.reading-order--rtl .page.recto .image {
  border-right: none;
  border-left: 4px solid #666;
}

.app---reader--toolbar--options {
  position: absolute;
}

.app---reader--toolbar--controls {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  top: -0.5rem;
  right: -0.5rem;
  z-index: 23;
  background: transparent;
  pointer-events: none;
}

.app---reader--toolbar--controls .toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  pointer-events: auto;
}

.app---reader--toolbar--controls .toolbar .btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.app---reader--toolbar--controls .toolbar button {
  background-color: #666;
  color: #eee;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  border-color: #333;
  height: 2.375rem;
}

.app---reader--toolbar--controls .toolbar button.active {
  background: rgba(0, 0, 0, 0.8);
}

.app---reader--toolbar--controls .toolbar button:hover:enabled {
  background: rgba(0, 0, 0, 0.8);
}

.app---reader--toolbar--controls #toolbar-horizontal {
  width: 100%;
  z-index: 5;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: -2rem;
  background: #fffefb;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 254, 251, 0)), color-stop(15%, #fffefb), color-stop(52%, #fffefb), to(rgba(255, 254, 251, 0)));
  background: linear-gradient(90deg, rgba(255, 254, 251, 0) 0%, #fffefb 15%, #fffefb 52%, rgba(255, 254, 251, 0) 100%);
}

.app---reader--toolbar--controls #toolbar-horizontal > * {
  margin-right: 0.25rem;
}

.app---reader--toolbar--controls #toolbar-horizontal form {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app---reader--toolbar--controls #toolbar-horizontal form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  margin-right: 0.25rem;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  padding: 0.25rem 0.5rem;
}

.app---reader--toolbar--controls #toolbar-horizontal form #input-go-page {
  width: 5rem;
}

.app---reader--toolbar--controls #toolbar-horizontal .dropdown-menu {
  display: none;
}

.app---reader--toolbar--controls #toolbar-horizontal .caret {
  margin-left: 0.3rem;
}

.app---reader--toolbar--controls #toolbar-horizontal ul button {
  text-align: center;
  width: 3rem;
  height: 2.8rem;
  margin-left: 0.25rem;
}

.app---reader--toolbar--controls #form-go-page {
  display: none !important;
}

.app---reader--toolbar--controls .selected-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app---reader--toolbar--controls .selected-list a {
  display: inline-block;
  text-align: center;
  margin-bottom: 1rem;
}

.app---reader--toolbar--controls .selected-list a > span {
  display: block;
  margin-top: 0px;
}

.app---reader--toolbar--controls .selected-list img {
  border: 1px solid #666;
  padding: 2px;
  margin: 0 0.25rem;
}

.app---reader--toolbar--controls #toolbar-vertical {
  margin-top: 3rem;
  z-index: 2;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 3rem;
      flex-basis: 3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app---reader--toolbar--controls #toolbar-vertical button {
  height: 3rem;
}

.app---reader--toolbar--controls #toolbar-vertical .btn-group + .btn-group {
  margin-top: 10px;
}

.app---reader--toolbar--controls #toolbar-vertical #action-zoom-in .icomoon, .app---reader--toolbar--controls #toolbar-vertical #action-zoom-out .icomoon {
  font-size: 135%;
  margin-left: -4px;
  margin-top: -2px;
}

.app---reader--toolbar--controls #toolbar-vertical .action-fullscreen button {
  display: none;
}

.app---reader--toolbar--controls #toolbar-vertical .action-fullscreen[data-expanded="false"] [data-target="enter-fullscreen"] {
  display: block;
}

.app---reader--toolbar--controls #toolbar-vertical .action-fullscreen[data-expanded="true"] [data-target="exit-fullscreen"] {
  display: block;
}

.app---reader--toolbar--controls #toolbar-vertical.toolbar--shrunken {
  -ms-flex-preferred-size: 4rem;
      flex-basis: 4rem;
}

.app---reader--toolbar--controls #toolbar-vertical.toolbar--shrunken::-webkit-scrollbar {
  -webkit-appearance: none;
}

.app---reader--toolbar--controls #toolbar-vertical.toolbar--shrunken::-webkit-scrollbar:vertical {
  width: 1rem;
}

.app---reader--toolbar--controls #toolbar-vertical.toolbar--shrunken::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.5);
}

.app---reader--toolbar {
  z-index: 23;
  position: absolute;
  bottom: 0rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 90%;
  max-width: 62rem;
  min-height: 3rem;
  background: #39383a;
  -webkit-box-shadow: 4px 4px 4px 0px #333;
          box-shadow: 4px 4px 4px 0px #333;
  padding: 0rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.app---reader--toolbar form button {
  padding: 0.5rem 1rem;
  -webkit-box-shadow: 0 0 0 4px #39383a;
          box-shadow: 0 0 0 4px #39383a;
}

@media screen and (max-width: 700px) {
  .app---reader--toolbar {
    width: 98%;
  }
}

#action-expando {
  position: absolute;
  background: #39383a;
  color: #fff;
  height: 3rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0;
}

#action-expando[aria-expanded="true"] {
  top: -2.8rem;
  border-bottom: 0;
}

#action-expando[aria-expanded="true"] .icomoon::before {
  content: "\ea43";
  font-size: 1.5rem;
}

#action-expando[aria-expanded="false"] {
  bottom: 0;
}

#action-expando[aria-expanded="false"] .icomoon::before {
  content: "\ea41";
  font-size: 1.5rem;
}

body[data-expanded="false"] header {
  display: none;
}

body[data-expanded="false"] .app--sidebar--toggle--container {
  height: 1px !important;
}

body[data-expanded="false"] .app---reader--toolbar--controls {
  display: none !important;
}

body[data-expanded="false"] .app---reader--toolbar {
  height: 0px !important;
  min-height: 0;
}

body[data-expanded="false"] .app---reader--toolbar form {
  display: none !important;
}

.app--reader--container {
  margin-left: 1rem;
}

.app--reader--viewer {
  width: 100%;
  padding: 1rem;
  min-height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app--reader--viewer .page {
  margin: auto;
  position: relative;
  -webkit-transition: height .5s ease-in-out;
  transition: height .5s ease-in-out;
}

.app--reader--viewer .page:hover .tag {
  background: black;
}

.app--reader--viewer .page .page--toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 0.25rem;
  position: sticky;
  background: transparent;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  top: 2.75rem;
  z-index: 10;
}

.app--reader--viewer .page .tag {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  background: #39383a;
  color: #eee;
  border-radius: 1rem;
  border: 1px solid #000;
  font-family: monospace;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app--reader--viewer .page .tag:hover {
  background: black;
}

.app--reader--viewer .page .tag > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.app--reader--viewer .page .tag button {
  background: transparent;
  border: transparent;
  margin-right: 0;
  padding: 0 0.5rem;
}

.app--reader--viewer .page .tag button svg {
  height: 2rem;
  width: 2rem;
  stroke: white;
  fill: white;
}

.app--reader--viewer .page .tag button[data-action="toggle"] svg {
  display: none;
}

.app--reader--viewer .page .tag button[aria-pressed="true"] svg.bi-check-square {
  display: block;
}

.app--reader--viewer .page .tag button[aria-pressed="false"] svg.bi-square {
  display: block;
}

.app--reader--viewer .page .page-text {
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #eee;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.app--reader--viewer .page .image {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 auto;
  border: 4px solid #666;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app--reader--viewer .page .image img {
  width: 100%;
  max-height: 100%;
  display: block;
  background: #f9f8f5;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 6px 15px 5px rgba(0, 0, 0, 0);
          box-shadow: 0px 10px 13px -7px #000000, 0px 6px 15px 5px rgba(0, 0, 0, 0);
  border: 1px solid #ddd;
}

.app--reader--viewer .page .image img[src=""] {
  visibility: hidden;
}

.app--reader--viewer .page + .page {
  margin-top: 3rem;
}

.app--reader--viewer .page:first-of-type {
  margin-top: 4rem;
}

.app--reader--viewer .page:last-of-type {
  margin-bottom: 6rem;
}

.app--reader--viewer .page[data-loaded="true"] .image {
  opacity: 1.0;
  width: auto;
}

.app--reader--viewer .page[data-rotated="-90"] .image, .app--reader--viewer .page[data-rotated="270"] .image {
  -webkit-transform: rotate(-90deg) scale(80%);
          transform: rotate(-90deg) scale(80%);
  margin-top: calc(var(--margin-rotated) * 1px);
  margin-bottom: calc(var(--margin-rotated) * 1px);
}

.app--reader--viewer .page[data-rotated="-90"] .image img, .app--reader--viewer .page[data-rotated="270"] .image img {
  height: 100%;
}

.app--reader--viewer .page[data-rotated="-180"] .image, .app--reader--viewer .page[data-rotated="180"] .image {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.app--reader--viewer .page[data-rotated="-270"] .image, .app--reader--viewer .page[data-rotated="90"] .image {
  -webkit-transform: rotate(-270deg) scale(80%);
          transform: rotate(-270deg) scale(80%);
  margin-top: calc(var(--margin-rotated) * 1px);
  margin-bottom: calc(var(--margin-rotated) * 1px);
}

.app--reader--viewer .page[data-rotated="-270"] .image img, .app--reader--viewer .page[data-rotated="90"] .image img {
  height: 100%;
}

@media screen and (max-width: 900px) {
  .app--reader--viewer {
    padding: 1rem 0;
  }
}

.app--reader--navigator {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app--reader--navigator > * {
  margin-right: 0.5rem;
}

.app--reader--navigator .navigator-range-wrap {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app--reader--navigator .navigator-range-wrap input[type="range"] {
  margin: auto;
  padding: 4px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 16px;
  background-color: #444;
  background: -webkit-gradient(linear, left top, right top, from(#ff9f1a), color-stop(0%, #ff9f1a), color-stop(0%, #444), to(#444));
  background: linear-gradient(to right, #ff9f1a 0%, #ff9f1a 0%, #444 0%, #444 100%);
  border: 2px solid #eee;
  border-radius: 4px;
  cursor: pointer;
  -webkit-appearance: none;
}

.app--reader--navigator .navigator-range-wrap input[type=range]::-webkit-slider-runnable-track {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  background: transparent;
  height: 8px;
  content: '';
  width: 100%;
  -webkit-appearance: none;
}

.app--reader--navigator .navigator-range-wrap input[type=range]::-moz-range-track {
  box-shadow: none;
  border: none;
  background: transparent;
}

.app--reader--navigator .navigator-range-wrap input[type=range]::-moz-focus-outer {
  border: 0;
}

.app--reader--navigator .navigator-range-wrap input[type=range]::-webkit-slider-thumb {
  width: 32px;
  height: 32px;
  border: 0;
  margin-top: -12px;
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 0 4px #39383a;
          box-shadow: 0 0 0 4px #39383a;
  -webkit-appearance: none;
}

.app--reader--navigator .navigator-range-wrap input[type=range]::-moz-range-thumb {
  width: 32px;
  height: 32px;
  border: 0;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 0 4px #39383a;
}

.app--reader--navigator .navigator-range-wrap input[type=range]::-ms-fill-lower {
  background-color: #ff9f1a;
}

.app--reader--navigator .navigator-range-wrap input[type=range]::-moz-range-progress {
  background-color: #ff9f1a;
}

.app--reader--navigator .navigator-range-wrap input[type=range]::-ms-tooltip {
  display: none;
}

.app--reader--navigator .navigator-range-wrap input[type=range]::-ms-thumb {
  margin-top: 1px;
  border: 1px solid #000;
  height: 32px;
  width: 32px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.app--reader--navigator input[name="navigator-input-seq"] {
  width: auto;
  text-align: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.app--reader--navigator .navigator-output {
  background: #39383a;
  border-radius: 0.25rem;
  color: #fff;
  padding: 0.5rem;
  white-space: nowrap;
}

@media screen and (max-width: 500px) {
  .app--reader--navigator > * {
    margin-right: 2px;
  }
  .app--reader--navigator button span {
    position: absolute;
    width: 1px;
    clip: rect(1px, 1px, 1px, 1px);
  }
}

@media screen and (max-width: 380px) {
  .app--reader--navigator button {
    display: none !important;
  }
}

.app--reader[data-view="thumb"] .page.placeholder {
  display: none;
}

.app--reader[data-view="thumb"] .page .page--toolbar {
  position: static !important;
}

.app--reader[data-view="1up"] .app--reader--viewer .page.placeholder {
  display: none;
}

.app--reader[data-view="1up"] .app--reader--viewer .page.page--foldout .image {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.app--reader[data-view="2up"] .app--reader--viewer {
  grid-template-rows: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-right: 2rem;
}

main[data-view="1up"] button[data-target="1up"] {
  background: rgba(0, 0, 0, 0.8);
}

main[data-view="2up"] button[data-target="2up"] {
  background: rgba(0, 0, 0, 0.8);
}

main[data-view="image"] button[data-target="image"] {
  background: rgba(0, 0, 0, 0.8);
}

main[data-view="plaintext"] button[data-target="plaintext"] {
  background: rgba(0, 0, 0, 0.8);
}

main[data-view="thumb"] button[data-target="thumb"] {
  background: rgba(0, 0, 0, 0.8);
}

.highlight {
  position: absolute;
  background: greenyellow;
  opacity: 0.4;
}

.highlight_1 {
  background: #ffff00;
}

.highlight_2 {
  background: #00ff00;
}

.highlight_3 {
  background: #ff9900;
}

.highlight_4 {
  background: #00ffcc;
}

.highlight_5 {
  background: #00cccc;
}

.highlight_6 {
  background: #0099cc;
}

.modal.lightbox.is-open .modal__container .modal__content {
  padding: 0;
  max-height: 98vh;
}

.modal.lightbox.is-open .modal__container .modal__content img {
  max-height: 100%;
}

.modal.lightbox.is-open .modal__container .modal__header {
  padding: .5rem 1rem;
}

.modal.lightbox.is-open .modal__container .modal__header .modal__title {
  font_size: 1rem;
}

.modal.lightbox.is-open .modal__container .modal__footer {
  padding: .5rem 1rem;
}

@media only screen and (max-width: 625px) {
  #toolbar-horizontal #form-search-volume {
    display: none;
  }
}

@media only screen and (max-width: 560px) {
  #toolbar-horizontal #action-go-first, #toolbar-horizontal #action-go-last {
    display: none;
  }
  #toolbar-vertical {
    display: none;
  }
  .app--reader--viewer .page .page--toolbar {
    margin-right: 0rem;
  }
}

@media only screen and (max-width: 500px) {
  .panel.configure button {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .panel.configure button span {
    margin-left: 0.5rem;
  }
}

@media only screen and (max-height: 1050px) {
  .scrollable-list.action-contents-navigation {
    height: 150px;
    overflow: auto;
  }
}

@media only screen and (max-width: 450px) {
  #action-prompt-seq {
    display: none;
  }
}

@-webkit-keyframes flip-show-recto {
  from {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  to {
    z-index: 1;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@keyframes flip-show-recto {
  from {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  to {
    z-index: 1;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@-webkit-keyframes flip-hide-verso {
  from {
  }
  to {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}

@keyframes flip-hide-verso {
  from {
  }
  to {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}

@-webkit-keyframes flip-hide-recto {
  from {
    z-index: 2;
  }
  to {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
  }
}

@keyframes flip-hide-recto {
  from {
    z-index: 2;
  }
  to {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
  }
}

@-webkit-keyframes flip-show-verso {
  from {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
  }
  to {
    z-index: 1;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@keyframes flip-show-verso {
  from {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
  }
  to {
    z-index: 1;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@-webkit-keyframes imageMoveToLeft {
  from {
  }
  to {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}

@keyframes imageMoveToLeft {
  from {
  }
  to {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}

@-webkit-keyframes imageMoveFromRight {
  from {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
}

@keyframes imageMoveFromRight {
  from {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
}

@-webkit-keyframes imageMoveFromRightFade {
  from {
    opacity: 0.3;
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
}

@keyframes imageMoveFromRightFade {
  from {
    opacity: 0.3;
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
}

@-webkit-keyframes imageMoveToRight {
  from {
  }
  to {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
}

@keyframes imageMoveToRight {
  from {
  }
  to {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
}

@-webkit-keyframes imageMoveFromLeft {
  from {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}

@keyframes imageMoveFromLeft {
  from {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}

@-webkit-keyframes imageMoveFromLeftFade {
  from {
    opacity: 0.3;
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}

@keyframes imageMoveFromLeftFade {
  from {
    opacity: 0.3;
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}

@-webkit-keyframes imageFade {
  from {
  }
  to {
    opacity: 0;
  }
}

@keyframes imageFade {
  from {
  }
  to {
    opacity: 0;
  }
}
