:root {
  --microtip-transition-delay: 0.25s;
}

$icomoon-font-path: "/common/unicorn/vendor/icomoon/fonts";

$body-bgcolor: #f9f8f5;
// $base-font-family: "Helvetica Neue", helvetica, arial, sans-serif;
$base-font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;

$hathitrust-orange-color: #EF7C22;
// $outline-color: #4d90fe;
$outline-color: #EF7C22;

$link-color: #924a0b; // #b15a0d; for WCAG AA on stripes
$text-color: #4f4f4f;
$link-visited-color: #237a72;

$navbar-color: #d0cfcd;
$navbar-height: 36;
$navbar-font-size: 13;
$navbar-bgcolor: #39383a;
$navbar-border-top: 4px solid #6b6a6b;
$navbar-link-color: #f9f8f5;
$navbar-link-hover-color: #fcfcfc;
$navbar-link-active-color: #39383a;
$navbar-bgcolor-hover: #6b6a6b;

$login-bgcolor: #fdd116;
// $login-bgcolor: #fdd11633;

$toolbar-background-color: #444;

